  <script type="text/javascript" src="/public/js/jquery-2.1.4.min.js"></script>
  <script type="text/javascript" src="/public/js/slick.min.js"></script>
  <script type="text/javascript" src="/public/js/carousel.js"></script>
  </body>
</html>