<div class="navigation">
  <div class="nav-logo">
    <% include _logo %>
  </div>

  <ul class="nav-left">
    <li class="navl-links">
      <a href="/" class="link">
        <i class="fa fa-home"></i>
        Accueil
      </a>
    </li>
    <li class="navl-links">
      <a href="/news" class="link">
        <i class="fa fa-newspaper-o"></i>
        Actualités
      </a>
    </li>
    <li class="navl-links">
      <a href="/team" class="link">
        <i class="fa fa-users"></i>
        Equipe
      </a>
    </li>
    <li class="navl-links">
      <a href="/forum" class="link">
        <i class="fa fa-comment"></i>
        Forum
      </a>
    </li>
    <li class="navl-links">
      <a href="/gallery" class="link">
        <i class="fa fa-picture-o"></i>
        Galerie
      </a>
    </li>
  </ul>
  
  <ul class="nav-right">
    <li class="navr-links">
      <a href="/sign-up" class="btn-link">S'inscrire</a>
    </li>
    <li class="navr-links">
      <a href="/sign-in" class="btn-link">Se connecter</a>
    </li>
  </ul>
</div>