<% include ./partials/_head %>
<% include ./partials/_header %>

<section class="home">
  <% include ./partials/_carousel %>
  
  <div class="home-infos">
    <div class="logo">
      <% include ./partials/_logo %>
    </div>
    
    <div class="home-filter"></div>
    
    <div class="home-fg">
      French Gaming
    </div>
    <div class="home-desc">
      Team Multigaming | Pc | Fun
    </div>
    
    <div class="home-down">
      <span class="scroll-down">ça continue</span>
      <i class="fa fa-angle-double-down"></i>  
    </div>
  </div>
</section>

<h1>Accueil</h1>



<% include ./partials/_footer %>
