<% include ./partials/_head %>
<% include ./partials/_header %>

<section class="home">
  <% include ./partials/_carousel %>
  
  <div class="home-infos">
    <div class="home-filter"></div>
    
    <div class="home-fg">
      French Gaming
    </div>
    <div class="home-desc">
      Team Multigaming | Pc | Fun
    </div>  
  </div>

  <div class="home-down">
    <span class="scroll-down">Scroll Down</span>
    <i class="fa fa-angle-double-down icon-scroll"></i>  
  </div>
</section>
<div class="col-left">
  <section class="news">
    <div class="section-title">News</div>
      <% for (var i = 0; i < news.length(); i++) { %>
        <div class="news-card">
          <div class="card-image">
            <img src="/public/images/news/thumb/<% news[i].image %>" alt="news[i].image_alt"/>
          </div>
          <div class="card-title">
            <% news[i].title %>
          </div>
          <div class="card-desc">
            <% news[i].description %>
          </div>
          <a href="<% news[i].link %>" class="card-link"> Lire la suite ...</a>
        </div>
      <% } %>
  </section>
  

</div>
<h1>Accueil</h1>



<% include ./partials/_footer %>
